{
    "plugins": ["solid"],
    "extends": ["eslint:recommended", "plugin:solid/recommended"],
    "ignorePatterns": [
        "src/index.css",
        "src/assets/favicon/*"
    ],
    // 0 = off, 1 = warn, 2 = error
    "rules": {
        "solid/self-closing-comp": 0
    }
}
