.calendar {
    padding-left: 15%;
}

.calendar > table, td, th {
    border: 1px solid black;
}

.calendar > table {
    table-layout: fixed ;
    border-collapse: collapse;
    width: 80%;
}

.calendar_contents {
    width: 100px;
    height: 100px;
}
