/* 
.fc-day-other   - days that aren't part of the month
.fc-day-past    - days that have past
*/


/* days that aren't part of the month */
.fc-day-other {
    background-color: lightgray;
}

/* days of the week text */
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}