/* 
.fc-media-screen - entire calendar
.fc table        - grid of calendar (days of the week and month)
.fc-day-other    - days that aren't part of the month
.fc-day-past     - days that have past
*/

/* @media (max-width:768px) {

} */

::-webkit-scrollbar {
    width: 1px;
}

.fc-media-screen {
    width: 80%;
    display: inline-block;
}

.fc-day-today {
    border-radius: 0px !important;
}

.fc-scrollgrid, .fc table{
    border-radius: 15px;
}

/* .fc-col-header-cell {
    border-radius: 15px;
} */

/* .fc-dayGridDay-view {
    border-radius: 15px;
    background-color: lightblue;
}  */

.fc-scrollgrid td:last-of-type {
    border-radius: 0 0 15px 0;
}

.fc-day, .fc-multimonth-title {
    background-color: var(--background-color);
}

/* days that aren't part of the month */
.fc-day-other {
    border-radius: 0px;
    background-color: var(--past-dates-color);
}

/* days of the week text */
.fc .fc-col-header-cell-cushion {
    display: inline-block;
    padding: 2px 4px;
    padding-top: 5px;
    padding-bottom: 5px;
}