:root {
  --background-color: #f5f5f5;
  color-scheme: light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #121212;
    color-scheme: dark;
  }
}

.red {
  color: #723543; /*rgb(114,53,67)*/
}

.light-brown {
  color: #bd9c81; /*rgb(189,156,129)*/
}

.dark-gray {
  color: #555454; /*rgb(85,84,84)*/
}

.light-pastel-gray {
  color: #dbcdcc; /*rgb(219,205,204)*/
}

.faint-gray {
  color: #f8f5f0; /*rgb(248,245,240)*/
}

.background-faint-gray {
  color: #f8f5f0; /*rgb(248,245,240)*/
}
