:root {
  color-scheme: light;
  --background-color: #c7c7c7;
  --navbar-background-color: #e4e4e4;
  --navbar-text-color: #2f2f2f;
  --footer-github-color: #24292f;
  --color-font: #121212;
  --surface-1: #181818;
  --text-input: #a0a0a01f;
  --btn-color: #272727;
  --btn-hover-color: #313131;
  --link-hover-color: #d6d6d6;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: #333333;
    --navbar-background-color: #434343;
    --navbar-text-color: #e4e4e4;
    --footer-github-color: #fff;
    --color-font: #ffffff;
    --surface-1: #181818;
    --text-input: #a0a0a01f;
    --btn-color: #272727;
    --btn-hover-color: #313131;
    --link-hover-color: #d6d6d6;
    --sidebar-color: #1d1d1d;
    --dropdown-outline: #2c2c2c;
  }
}

@property --my-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

.red {
  background-color: red;
}

