:root {
  color-scheme: light;
  --background-color: #c7c7c7;
  --navbar-background-color: #e4e4e4;
  --navbar-text-color: #2f2f2f;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --background-color: #9a9a9a;
    --navbar-background-color: #434343;
    --navbar-text-color: #e4e4e4;
  }
}

@property --my-color {
  syntax: "<color>";
  inherits: false;
  initial-value: #c0ffee;
}

.red {
  background-color: red;
}

.error-message {
  color: red;
}
