/*Sets the style that multiple pages use */
.center-screen {
    padding-top: 5%;
    margin-left: auto;
    margin-right: auto;
    width: 12em;
}

.container {
    padding: 15px 20px;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.md {
    text-align: center;
}

