package logintempl

import "app/internal/public/templates"

css errorMessage(){
    color: red;
}
templ Error(err string) {
    @templates.Base([]string{}) {
        <div>
            <p class={errorMessage}>{err}</p>
        </div>
    }
}
