package calendartempl

import "app/internal/public/templates"

templ Calendar(cssDir []string) {
    @templates.Base([]string{}) {
        <h1> Calendar </h1>
        <style>
        .wrapper {
            display:grid;
            grid-template-columns: 70%, 30%;
        }
        </style>
        <div>
            kskld klj dksajdkl asjkld jaslkd jsalkj lk
        </div>

            // <p id="display"></p>
}