package calendartempl

import "app/internal/public/templates"

templ Calendar() {
    @templates.Base() {
        <div>
            <h1> Calendar </h1>
            <form action="/calendar" method="post">
                <button type="button" onclick="document.getElemendById("display").innerHTML=Date()">
                Date and Time </button>
                now
                // <p id = "display"> </p>
            </form>
        </div>
    }
}
