package calendartempl

import "app/internal/public/templates"

templ Calendar(cssDir []string) {
    @templates.Base([]string{}) {
        <div>
            <h1> Calendar </h1>
            <form action="/calendar" method="post">
                <button type="button" hx-target="#display">Date and Time </button>
                now
                <p id="display"></p>
            </form>
            // <p id="display"></p>
        </div>
    }
}