.calendar-container {
    padding: 20px;
    margin: 0 auto;
}

.calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border-radius: 8px; /* Add rounded corners */
    overflow: hidden; /* Ensure the corners are properly rounded */
}

.calendar th,
.calendar td {
    border: 1px solid #ddd;
}

.calendar th {
    background-color: #f2f2f2;
    font-weight: bold;
    padding: 15px;  /* Increase padding for header cells */
    width: 14.2857%;
}

.calendar td.dayOther {
    background-color: #f9f9f9;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;  /* Increase margin-bottom for better spacing */
    position: relative;  /* To allow absolute positioning of the month name */
}

.monthButtons {
    display: flex;
}

.dropdown {
    display: none;
}

.modes {
    display: flex;
}

.monthButtons button{
    margin-right: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #6474ff;
    color: white;
    border: none;
    border-radius: 25px;
}

.header button:hover {
    background-color: #4653cf;
}

@media (max-width: 880px) {
    .dropdown {
        display: inline-block;
        position: absolute;
        right: 10px;
        margin-right: 5px;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #6474ff;
        color: white;
        border: none;
        border-radius: 10px;
    }

    .modes {
        border: 1px solid rgb(185, 185, 185);
        border-radius: 10px;
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 110%;
        right: 2%;
    }

    .modes button {
        display: none;
        background-color: #f9f9f9;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 10px 20px;
        z-index: 1;
    }

    .dayButton, .weekButton, .monthButton {
        border-bottom: 1px solid rgb(185, 185, 185);
    }

    .dayButton {
        border-radius: 10px 10px 0 0;
    }

    .yearButton {
        border-radius: 0 0 10px 10px;
    }

    .modes button:hover {
        background-color: #d5d5d5;
    }
}

@media (min-width: 881px) {
    .modes button {
        margin-right: 5px;
        padding: 10px 20px;
        cursor: pointer;
        background-color: #6474ff;
        color: white;
        border: none;
        border-radius: 25px;
    }
}

.header h2 {
    font-size: 1.5em;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.days {
}

.dayPast {
    background-color: white;
}

.dayToday {
    background-color: rgb(254, 255, 213);
}

.dayFuture {
    background-color: white;
}

.weekView .details {
    padding-bottom: 500%;
}

.monthView .details {
    padding-bottom: 80%;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    background: var(--calendar-scrollbar-color);
    border-radius: 10px;
}
