package hometempl

import "app/internal/public/templates"
import "app/internal/public/components"


templ Home() {
	@templates.Base([]string{}, []string{}, "Tutorfi | Home") {
		<div>
			@components.HeaderNotLoggedIn()
			@components.HomepageBody()
			@components.Footer()
		</div>
	}
}
