package hometempl

import "app/internal/public/templates"
import "app/internal/public/components"


templ Home() {
	@templates.Base() {
		<div>
			@components.HeaderNotLoggedIn()
			<h1>Home</h1>
			<p>Home page</p>
            <a href="/login"><button>Login</button></a>
            <a href="/create-account"><button>Create Account</button></a>
			@components.Footer();
		</div>
	}
}
